.container {
  border: 2px solid black;
  width: 332px;
  margin: auto;
  padding:10px;
  border-radius: 24px;
}

.buttonContainer{
  display: grid;
  grid-template-columns: repeat(4,auto);
}

.button{
  padding: 20px;
  margin: 5px;
  font-size: 28px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  font-size: x-large;
}

.button:active{
  background-color: grey;
}

.bgred{
  background-color: red;
}

.inputContainer{
  margin:20px 0px 80px 0px;

}

.input{
  width: 98%;
  height: 100px;
  /* margin-top: 10px; */
  font-size: 10vh;
  text-align: right;
}

.calci{
  font-size: 40px;
  margin-top: 10px;
}



